
.profileMainBox{
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 850px;
	height: 950px;
	overflow: auto;
	background: #F9F9F9;
	align-items: middle;
}

.profileBox{
	display: flex;
	align-items: center;
	padding: 10px;
	padding-bottom: 20px;
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 10px;
	width: 750px;
	height: 200px;
	background: #F9F9F9;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.nameBox{
	flex-direction: row;
	display: flex;
}

  .circleLogout {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 20px;
	border:1px solid white;
	background-color: red;
  }

  .circleLogin {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 20px;
	border:1px solid white;
	background-color: green;
  }

  .profileImage{
	flex:1;
	width:125px;
	height:125px;
	border-radius:20px;
	padding:10px;
	padding-left: 10px;
	overflow: hidden;
  }

  .profileInfo {
	flex: 2;
	font-size: 25px;
	margin-bottom: 3px;
	font-family: 'Pretendard';
	font-style: normal;
  }

  .profileInfo h2 {
	font-size: 30px;
  }

  .buttons {
	display: flex;
	flex-direction: row; /* 버튼들을 세로로 배치 */
	gap: 15px; /* 버튼 간격 */
  }

  .buttons button {
	padding: 8px 8px;
	width: 160px;
	height: 55px;
	border: none;
	font-size: 20px;
	border-radius: 5px;
	cursor: pointer;
	color:white;
  }

  .followIn{
	background: #4193EF;
  }

  .normalIn{
	background: #58BF91;
  }

  .unfollowIn{
	background: #454545;
  }
